:root {

    /* THEME 1 */
    /* backgrounds */
    --VeryDarkDesaturatedBlue: hsl(222, 26%, 31%);
    --ToggleKeypadBg: hsl(223, 31%, 20%);
    --ScreenBg: hsl(224, 36%, 15%);

      /* keys */
    --desaturatedDarkBlueKeyBackground: hsl(225, 21%, 49%);
    --desaturatedDarkBluekeyShadow: hsl(224, 28%, 35%);
    --redKeyBackgroundToggle: hsl(6, 63%, 50%);
    --darkRedGreyKeyShadow: hsl(6, 70%, 34%);

    --lGrayOrenagekeyBg: hsl(30, 25%, 89%);
    --grayishOrangeKeyShadow: hsl(28, 16%, 65%);

     /* text */
    --Verydarkgrayishblue: hsl(221, 14%, 31%);
    --White: hsl(0, 0%, 100%);


}

body {
    background-color: var(--VeryDarkDesaturatedBlue);
    color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'League Spartan', sans-serif;
}


main {
  width:90vw;
  height: 90%;
  display: grid;
  grid-template-rows: 10% 10% 60%;
  gap: 1.5rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.themes {
  display: flex;
}

.themes > p {
  margin-right: 20px ;
}

.toggle {
  width: 70px;
}


.toggle-numbers {
  display: flex;
  justify-content: space-between;
}


.pill {
  display: flex;
  justify-content: space-between;
  background-color: var(--ToggleKeypadBg);
  border-radius: 5px;
  width: 100%;
}

.display {
  background-color: var(--ToggleKeypadBg);
  width: 100%;
  border-radius: 10px;

}

.display > input {
  background-color: var(--ToggleKeypadBg);
  width: 90%;
  height: 90%s;
  border-radius: 10px;
  border: none;
  font-size: 32px;
  color: var(--White);
}

.pad {
  display: grid;
  grid-template-rows: 80% 20%;
  background-color: var(--ToggleKeypadBg);
  padding: 20px;
  border-radius: 10px;

}

.keys {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;

}


.action {
  margin-top: 15px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}

button {
  border-radius: 10px;
  border: none;
  border-bottom: 5px solid var(--grayishOrangeKeyShadow);
  font-size: 32px;
  font-weight: 700;
  color: var(--Verydarkgrayishblue);
  cursor: pointer;
}

.delReset {
  background-color: var(--desaturatedDarkBlueKeyBackground);
  color: var(--White);
  font-size: smaller;
}

.equalSign {
  background-color: var(--redKeyBackgroundToggle);
  color: var(--White);

}