:root {

    /* THEME 1 */
    /* backgrounds */
    --VeryDarkDesaturatedBlue: hsl(222, 26%, 31%);
    --ToggleKeypadBg: hsl(223, 31%, 20%);
    --ScreenBg: hsl(224, 36%, 15%);

      /* keys */
    --desaturatedDarkBlueKeyBackground: hsl(225, 21%, 49%);
    --desaturatedDarkBluekeyShadow: hsl(224, 28%, 35%);
    --redKeyBackgroundToggle: hsl(6, 63%, 50%);
    --darkRedGreyKeyShadow: hsl(6, 70%, 34%);

    --lGrayOrenagekeyBg: hsl(30, 25%, 89%);
    --grayishOrangeKeyShadow: hsl(28, 16%, 65%);

     /* text */
    --Verydarkgrayishblue: hsl(221, 14%, 31%);
    --White: hsl(0, 0%, 100%);


}

* {
  box-sizing: border-box;
}

body {
    background-color: var(--VeryDarkDesaturatedBlue);
    color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'League Spartan', sans-serif;
    
}


main {
  width:90vw;
  height: 90%;
  display: grid;
  grid-template-rows: 10% 10% 60%;
  gap: 1.5rem;
}



header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 0px;
}

header > h1 {
  margin-top: 4px;
}

.themes {
  display: flex;
}

.themes > p {
  margin-right: 20px ;
}

.toggle {
  width: 70px;
}

input[type="radio"] {
  height: 15px;
  width: 30px;
  appearance: none;
  border-radius: 50%;
  background-color: var(--redKeyBackgroundToggle);
  opacity: 0;

}

input[type="radio"]:hover {
  cursor: pointer;
}



#one {
  opacity: 1;
}
#two {
  background-color: hsl(25, 98%, 40%);
}

#three {
  background-color: hsl(176, 100%, 44%);
}


.toggle-numbers {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 5px;
}



.pill {
  display: flex;
  justify-content: space-between;
  background-color: var(--ToggleKeypadBg);
  border-radius: 25px;
  width: 100%;
  padding: 5px;
}

.display {
  background-color: var(--ToggleKeypadBg);
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 1.5rem;
  color: white;
  outline: none;
  border: none;
  font-size: 32px;
  text-align: right;
  font-weight: 700;

}



.pad {
  display: grid;
  grid-template-rows: 80% 16%;
  gap: 20px;
  background-color: var(--ToggleKeypadBg);
  padding: 20px 20px 35px 20px;
  border-radius: 10px;

}

.keys {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
  cursor: pointer;

}


.action {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}

button {
  border-radius: 10px;
  border: none;
  border-bottom: 5px solid var(--grayishOrangeKeyShadow);
  font-size: 32px;
  font-weight: 700;
  color: var(--Verydarkgrayishblue);
  cursor: pointer;
}

.delReset {
  background-color: var(--desaturatedDarkBlueKeyBackground);
  border-bottom-color: var(--desaturatedDarkBluekeyShadow);
  color: var(--White);
  font-size: smaller;
}

.equalSign {
  background-color: var(--redKeyBackgroundToggle);
  border-bottom-color: var(--darkRedGreyKeyShadow);
  color: var(--White);

}

@media screen and (min-width: 480px)  {
  main {
    width:20vw;
    height: auto;
  }

  
}